doctype html
html(lang='en-US')
    head
        include head.pug
    
    body(class='page-'+page)
        | 
        | 
        header
            h1
                a(href='/')
                    | DisC
                    span.logo
                        if user
                            img(src='/images/disco-one-logo-small.png', alt='DistrictCon Year 1 logo definitely without any extra data in it', style='opacity:'+(user.progress / 100)+';')
                    |  P
                    span.logo
                        if user
                            img(src='/images/disco-one-logo-small.png', alt='DistrictCon Year 1 logo definitely without any extra data in it', style='opacity:'+(user.progress / 100)+';')
                    | wer
                

            if user
                section.sub-header
                    aside.user
                        | #{user.username} (#{user.score} watts)
                    nav
                        ul 
                            if user.isAdmin
                                li
                                    a(href="/display") 🖵
                                li
                                    a(href="/admin") (A)
                            li 
                                a(href="/user/logout") Logout
                            li
                                a.stats(href='/user/stats') │
                            li
                                a.mode-switch(href='#')
                
                aside.progress-tracker
                    figure.user-progress(class=user.overclock, style='width:'+user.progress+'%;')
        
        aside.messages
            if(message)
                p.message= message

        main
            block content

        footer
            p
                a(href="/rules")
                    | the rules
                if user
                    =" | "
                    a(href="/user/change-password")
                        | change password
            p
                | &copy; DistrictCon 2026

        script
            | const d={u:`#{user && user.username}`,k:`#{logApiKey}`,p:`#{page}`}
        script(src='/game-ui.js')
