extends partials/layout.pug

block content

    h2 Game Administration

    button.validate-scores
        | Validate All Scores

    details
        summary 
            h3 Stats
        section
            ul
                li Max score: #{stats.maxScore} (overclock at #{stats.overclockScore})
                li Non-admin users: #{stats.nonAdminUsers}
                li #{stats.foundPatternCount} patterns found of #{puzzles.length} total
                li #{stats.avgFound} patterns found per user on average, #{stats.avgFailed} failed
                li #{stats.zeroPoints} users with 0 points; #{stats.starterOnly} with starter only
                li Patterns wait an average of #{stats.averageWait}s to run

            aside.statsByHour
                h4 Stats By Hour
                div.legend
                    div
                        label New Users this hour
                            figure.users
                    div
                        label Found Patterns this hour
                            figure.patterns
                ul
                    each point in stats.byHourValues
                        li
                            h5.label #{point.hour}
                            div
                                figure.bar.users(data-value=point.users, title=point.users+' new users')
                                    label.value= point.users
                                figure.bar.patterns(data-value=point.patterns, title=point.patterns+' patterns found')
                                    label.value= point.patterns
                script
                    | const countChartExtremes = !{stats.chartExtremes}


    section.edit-user.hide
        form(method='post', action='/user/edit')
            h4 Edit User
            input#user-id(type='hidden', name='id')
            
            div.field-group
                label(for="username") Username: 
                input#username(type="text", name="username", autocomplete="off", required)
            
            div.field-group
                label(for="password") Password: 
                input#password(type="password", name="password", autocomplete="off")
            
            div.field-group
                label(for="is-admin") Admin? 
                input#is-admin(type="checkbox", name="isAdmin", value="true")

            aside.actions
                input(type='submit', value='Save')
                input.button.close(type='button', value='Close')
        aside.submissions
            h4 Submissions
            ul

    details.all-users
        summary
            h3 All Users

        table
            thead
                tr
                    th Username 
                    th Score 
                    th Submissions 
                    th Actions
            tbody
                each user in users
                    tr(data-user=user.id+'|'+user.username+'|'+user.isAdmin)
                        td= user.username
                            if user.isAdmin 
                                |  (A)
                        td= user.score
                        td 
                            | #{user.submissions[0]} / #{user.submissions[1]}
                        td.actions
                            span.edit ✎
                            span.delete ❌

    details.all-puzzles
        summary
            h3 All Puzzles 
        
        table.puzzles
            thead 
                tr 
                    th Note
                    th Found
                    th Time
                    th Watts
                    th Path
            tbody
                each puzzle in puzzles
                    tr(data-pattern=puzzle.pattern)
                        td= puzzle.note
                        td= puzzle.found
                        td 
                            if puzzle.avgFindTime
                                | #{puzzle.avgFindTime}h
                            else 
                                | n/a
                        td= puzzle.points
                        td
                            if puzzle.path
                                | Preset
                            else
                                | Auto
                    tr.detail(data-pattern=puzzle.pattern)
                        td(colspan=5)
                            p= puzzle.pattern
                            p= puzzle.hint

    script(src='/admin-ui.js')
