extends partials/layout.pug

block content

    h2 Game Administration

    button.validate-scores
        | Validate All Scores

    section.stats 
        h3
            strong Stats
        p Max Score: #{maxScore}
        p Other stats...

    section.edit-user.hide
        form(method='post', action='/user/edit')
            h4 Edit User
            input#user-id(type='hidden', name='id')
            
            div.field-group
                label(for="username") Username: 
                input#username(type="text", name="username", autocomplete="off", required)
            
            div.field-group
                label(for="password") Password: 
                input#password(type="password", name="password", autocomplete="off")
            
            div.field-group
                label(for="is-admin") Admin? 
                input#is-admin(type="checkbox", name="isAdmin", value="true")

            aside.actions
                input(type='submit', value='Save')
                input.button.close(type='button', value='Close')
        aside.submissions
            h4 Submissions
            ul


    details
        summary
            h3 All Users

        table.users
            thead
                tr
                    th Username 
                    th Score 
                    th Submissions 
                    th Actions
            tbody
                each user in users
                    tr(data-user=user.id+'|'+user.username+'|'+user.isAdmin)
                        td= user.username
                            if user.isAdmin 
                                |  (A)
                        td= user.score
                        td 
                            | #{user.submissions[0]} / #{user.submissions[1]}
                        td.actions
                            span.edit ✎
                            span.delete ❌

    details
        summary
            h3 All Puzzles 
        
        table.puzzles
            thead 
                tr 
                    th Note
                    th Points
                    th Path
            tbody
                each puzzle in puzzles
                    tr(data-pattern=puzzle.pattern)
                        td= puzzle.note
                        td= puzzle.points
                        td
                            if puzzle.path
                                | Preset
                            else
                                | Auto
                    tr.detail(data-pattern=puzzle.pattern)
                        td(colspan=3)
                            p= puzzle.pattern
                            p= puzzle.hint

    script(src='/admin-ui.js')
