extends partials/layout.pug

block content
    section.game-action
        if user.queued
            aside.in-queue
                | You have a
                if user.queued.resubmit
                    strong
                        |  resubmitted
                |  pattern in the queue: 
                span.queued-pattern= user.queued.pattern
                |  (currently number #{user.queued.position} in the queue)
        else
            form.new-pattern(action="/pattern", method="post")
                label(for="pattern") Found a New Pattern? 
                input#pattern(type="text", name="pattern", autocomplete="off", required)
                input(type="submit", value="Submit")
            
            if !user.patterns.length
                aside.welcome
                    p
                        | Welcome to the challenge! Find light patterns to add watts to 
                        | the grid, then head over to the display in the Village of Villages
                        | to see the pattern light up!
                    p
                        | Here's one to get your started:<br>
                        pre gg141094693zoo5793

            if user.mostRecent
                aside.last-submission
                    if user.mostRecent.hint
                        p
                            | Your last pattern was worth #{user.mostRecent.points} Watts!
                        p.hint
                            =user.mostRecent.hint
                    else
                        p Your last submission was not valid!
                        p
                            strong=user.mostRecent.pattern


    if user.milestones.length
        details.milestones(open)
            summary
                h2 Lumi Unlock Codes

            section
                img.lumi(src='/images/lumi-mouth-closed.png', alt='Your badge pal Lumi')
                ol
                    each milestone in user.milestones
                        li #{milestone.title}: 
                            strong #{milestone.code}


    details
        summary
            h2 Found Patterns
        
        if user.patterns.length
            table.found
                each pattern in user.patterns
                    tr
                        td.watts(class='scale-'+pattern.scale)
                            span
                                = pattern.points
                                | w
                        td.pattern
                            =pattern.pattern
                            details.pattern-message
                                summary Message
                                p=pattern.hint
        else
            p You have not found any patterns yet. Maybe check out the badge challenge table in the VoV space?

    if user.failed.length
        details
            summary
                h2 Failed Patterns
            
            ul.failed
                each pattern in user.failed
                    li= pattern.pattern

