extends partials/layout.pug

block content
    section.game-action
        if !user.queued
            form.new-pattern(action="/pattern", method="post")
                label(for="pattern") Found a New Pattern? 
                input#pattern(type="text", name="pattern", autocomplete="off", required)
                input(type="submit", value="Submit")
            
            if !user.patterns.length
                aside.welcome
                    p
                        | Welcome to the challenge! Find light patterns and then watch them 
                        | light up the display in the Village of Villages.
                    p
                        | Here's a pattern to get your started:<br>
                        pre 1gg41094693z5oo792

        if user.queued
            aside.in-queue
                | You have a pattern in the queue: 
                span.queued-pattern= user.queued.pattern
                |  (currently number #{user.queued.position} in the queue)

        else if user.mostRecent
            aside.last-submission
                p
                    | Your last submission was<br><strong>#{user.mostRecent.pattern}</strong><br>
                    if user.mostRecent.hint
                        | and was worth #{user.mostRecent.points} watts:<br><br>"#{user.mostRecent.hint}"
                    else
                        | and was not valid.


    details(open)
        summary
            h2 Found Patterns
        
        if user.patterns.length
            table
                each pattern in user.patterns
                    tr.pattern
                        td= pattern.points
                            | w
                        td= pattern.pattern
                    tr.hint
                        td(colspan=2)
                            =pattern.hint
                            |  (#{pattern.badgePattern})
        else
            p You have not found any patterns yet. Maybe check out the badge challenge table in the VoV space?

    if user.failed.length
        details
            summary
                h2 Failed Patterns
            
            ul
                each pattern in user.failed
                    li= pattern.pattern

