extends partials/layout.pug

block content
    header 
        h1= title
        p
            | User: 
            =user.username
        a(href="/user/logout") Logout
        if(message)
            p= message

    main
        section.submit
            if user.queued
                aside 
                    | You have a pattern in the queue: 
                    span.queued-pattern= user.queued.pattern
                    |  (currently number #{user.queued.position} in the queue)
            else
                form(action="/pattern", method="post")
                    label(for="pattern")
                        | New Pattern: 
                        input#pattern(type="text", name="pattern", required)
                    input(type="submit", value="Submit")

        section
            h2 Found Patterns
            ul
                each pattern in user.patterns
                    li= pattern.pattern

        section 
            h2 Failed Patterns
            ul
                each pattern in user.failed
                    li= pattern

    footer
        p
            | &copy; DistrictCon 2025
