extends partials/layout.pug

block content
    section.game-action
        
        if user.queued.length < maxQueue
            form.new-pattern(action="/pattern", method="post")
                label(for="pattern") Found a New Pattern? 
                input#pattern(type="text", name="pattern", autocomplete="off", required)
                input(type="submit", value="Submit")
        else
            p
                | You have #{user.queued.length} patterns in the queue. Please wait for 
                | those to run before submitting another!
        
        if user.queued.length
            aside.queued
                h3 Queued Patterns:
                ul
                    each sub in user.queued
                        li.in-queue
                            span.queued-pattern= sub.pattern 
                            |  (
                            if sub.resubmit
                                | resubmitted, 
                            | ##{sub.position} in queue)
            
        else if !user.found.length
            aside.welcome
                div.lumi-container
                    img.lumi(src='/images/lumi-mouth-closed.png', alt='Your badge pal Lumi')
                    div.shadow
                div
                    p.
                        Thank you for helping! I created this connection to the DisCo power generators for you 
                        to collect Watts. I just hope it will be enough to start the party...
                    p
                        | Oh, right, I found this piece of paper lying around, maybe you can use it?
                        span.paper= starterPattern
                    p.
                        I'm not sure who's doing this, but we can work together to figure it out and stop them!
        else
            if user.mostRecent
                aside.last-submission
                    if user.mostRecent.hint
                        p
                            | Your last pattern run was worth #{user.mostRecent.points} Watts!
                        p.hint
                            =user.mostRecent.hint
                    else
                        p Your last submission was not valid!
                        p
                            strong=user.mostRecent.pattern


    if user.milestones.length
        details.milestones(open)
            summary
                h2 Lumi Support Codes

            section
                div.lumi-container
                    img.lumi(src='/images/lumi-mouth-closed.png', alt='Your badge pal Lumi')
                    div.shadow
                ol
                    each milestone in user.milestones
                        li #{milestone.title}: 
                            strong #{milestone.code}


    details(open)
        summary
            h2 Found Patterns
        
        if user.found.length
            table.found
                each submission in user.found
                    tr
                        td.watts(class='scale-'+submission.scale)
                            span
                                =submission.points
                                | w
                        td.pattern
                            =submission.pattern
                            details.pattern-message
                                summary Message
                                p.hint= submission.hint
        else
            p You have not found any patterns yet. Maybe check out the badge challenge table in the VoV space?

    if user.failed.length
        details
            summary
                h2 Failed Patterns
            
            ul.failed
                each submission in user.failed
                    li= submission.pattern

